/* Colors 
Background : #e2eef5
Color secondary : #c1ccf7
Navbar : #FFF
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	font-size: 1.6rem;
	/* max-width: 160rem;
    margin: 0 auto;
    padding: 5rem 0; */
	height: 100vh;
	display: grid;
	grid-template-columns: 10rem auto;
	background-color: #c8d5b9;
}

h1 {
	display: inline-block;
	font-size: 3rem;
	font-weight: 500;
    padding: 0 3rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

h1 > span {
    display: block;
    width: 40%;
    border: 2px solid #68b0ab;
    border-radius: 5px;
}

h2 {
	display: inline;
	font-size: 3rem;
	font-weight: 400;
	color: #faf3dd;
}

h3 {
	display: inline;
	font-size: 2.2rem;
}

h4 {
	font-size: 1.8rem;
}

ul {
	list-style: none;
}

/* Header elements (sidebar) */

header {
	grid-column: 1 / 2;
	padding: 5rem 0; /* To be adjusted */

	background-color: #fff;

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
}

/* Main elements */

main {
	grid-column: 2 / 3;
	display: flex;
	flex-flow: column wrap;
}

main section {
	padding: 0 8rem;
}

/* Main header elements */

.main-header {
	height: 12%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-header div {
	display: inline-block;
}

/* Main categories elements */

.main-categories {
	height: 76%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 5rem;
	justify-content: space-between;
}

.main-categories > div {
	margin: 5rem 0;
}

.task-category {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: start;
	padding: 0 5rem;
}

.task-category-list-container {
	width: 100%;
}

.task {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 2rem 3rem;
	background-color: #fff;
    border-radius: 5px;
    margin: 1rem 0;
}

hr {
	border: 2px solid #68b0ab;
	border-radius: 5px;
}

.task-tick {
	align-self: center;
}

.task-content {
	width: 70%;
}

.task-description {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.5);
}

.task-deadline {
	color: #68b0ab;
}

/* Main sum ups elements */

.main-sumups {
	height: 12%;
	border: 1px solid slateblue;
}
